<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quik View - Live Real Time Quikr Statistics</title>
    <script src="/static/d3.min.js"></script>
    <script src="/static/jquery-1.7.2.min.js"></script>
    <!--<script src="sample_data.js"></script>-->
    <script src="/static/line-graph.js"></script>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica;
      }

      p {
        clear:both;
        top: 20px;
      }

      div.aGraph {
        margin-bottom: 30px;
      }
    </style>
  </head>
  <body>
  <h1>Quickr Live Statistics</h1>
  <h5><a href="/">Go Back</a></h5>
  <div id="graph1" class="aGraph" style="position:relative;width:100%;height:400px"></div>
  <div id="graph3" class="aGraph" style="position:relative;width:100%;height:400px"></div>

  <script>
    function get_live_data() {
      var data = {};
      $.ajax({
        timeout: 30000,
        url : '/get_live/',
        type: 'GET',
        async : false,
        success : function(result, status, xhr) {data = result;},
      });
      return data;
    }

    var ms = new Date();
    ms = ms.getTime();
    var data = {
      "start": ms - 3600000,
      "end": ms,
      "step": 60000,
      "colors" : ["blue"],
      "scale" : "linear",
      "names": ["Ads Count"],
      "values" : [[]]
    }

    var dataA = {
      "start": data['start'],
      "end": data['end'],
      "step": data['step'],
      "names": data['names'],
      "values" : [[]]
    }

    var data3 = {
      "start": ms - 3600000,
      "end": ms,
      "step": 60000,
      "colors" : ["red", "black"],
      "scale" : "linear",
      "axis" : ["left", "left"],
      "names": ["Active Chats", "Online Users"],
      "values" : [[], []]
    }

    var dataC = {
      "start": data3['start'],
      "end": data3['end'],
      "step": data3['step'],
      "names": data3['names'],
      "values" : [[]]
    }

    var test_data = get_live_data();
    data['values'][0].push(2 * test_data['adCount']);
    data3['values'][0].push(2 * test_data['activeChats']);
    data3['values'][1].push(2 * test_data['onlineUsers']);
    for(var i = 0; i < 59; i++)
    {
      //var new_val = Math.floor((Math.random() * 1000) + 1);
      data['values'][0].push(test_data['adCount']);
      data3['values'][0].push(test_data['activeChats']);
      data3['values'][1].push(test_data['onlineUsers']);
    }
    var l1 = new LineGraph({containerId: 'graph1', data: data});
    var l3 = new LineGraph({containerId: 'graph3', data: data3});

  setInterval(function() {
    var newData1 = [];
    var newData3 = [];
    var error = 0;
    d = get_live_data();
    if(!jQuery.isEmptyObject(d))
    {
      newData1[0]= [d['adCount']];
      newData3[0] = [d['activeChats']];
      newData3[1] = [d['onlineUsers']];
      dataA.values = newData1;
      dataC.values = newData3;
      dataA.start = dataA.start + dataA.step;
      dataA.end = dataA.end + dataA.step;
      dataC.start = dataC.start + dataC.step;
      dataC.end = dataC.end + dataC.step;
      l1.slideData(dataA);
      l3.slideData(dataC);
    }
  }, 60000);

  </script>
  </body>
</html>
